---

const { label, name, placeholder, rows = 4, required} = Astro.props;
---

<div class="form-field__container">
  {label && <label for={name}>{label}</label>}
  <textarea name={name} placeholder={placeholder} rows={rows} required={required}></textarea>
</div>

<style>
  .form-field__container textarea{
    --form-field-border-width: 2px;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid transparent;
    color: var(--form-field-input-color, #000000);
    background-color: var(--form-field-bg-color, #ffe6d5);
    border-radius: var(--theme-button-border-radius, 9999px);
    outline-style: none;
  }
  .form-field__container textarea:focus {
    border: var(--form-field-border-width) solid var(--form-field-border-focus-color, var(--color-primary, #ff8080));
  }
</style>
