---
const { label, name, options, required} = Astro.props;
---

<style>
  .form-field__container select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid transparent;
    color: var(--form-field-input-color, #000000);
    background-color: var(--form-field-bg-color, #ffe6d5);
    border-radius: var(--theme-button-border-radius, 9999px);
    outline-style: none;
    font-size: 1rem;
    font-family: inherit;
    /* Fixes gloss effect on select dropdowns in Safari */
    -webkit-appearance: none;
  }
  .form-field__container select:focus {
    border: 2px solid var(--form-field-border-focus-color, var(--color-primary, #ff8080));
  }
</style>

<div class="form-field__container">
  {label && <label for={name}>{label}</label>}
  <select name={name} required={required}>
    <option disabled selected value="">==SELECT AN OPTION==</option>
    {options?.map((option) => (
          <option value={option}>{option}</option>
        ))}
  </select>
</div>


