---
import Layout from '../../../layouts/Page.astro'
import { Container } from '@components/odyssey-theme';
import { parse } from 'date-fns';
import { generateTagData } from '../../../utils/helpers.js';

const { slug } = Astro.params;

// Načíst všechny posty
const allPostEntries = import.meta.glob('../posts/*.mdx', { eager: true });

// Přeformátovat
const allPosts = Object.entries(allPostEntries).map(([path, post]) => {
  return {
    url: path
      .replace('../posts/', '/blog/')
      .replace('.mdx', ''),
    ...post,
  };
});

// Najít tag podle slug
const allTags = generateTagData(
  new Set(allPosts.flatMap((post) => post.frontmatter.tags || []))
);

const tagData = allTags.find((tag) => tag.slug === slug);

if (!tagData) {
  throw new Error(`Tag '${slug}' nebyl nalezen.`);
}

// Filtrovat posty podle tagu
const posts = allPosts
  .filter((post) => post.frontmatter.tags?.includes(tagData.title))
  .sort((a, b) =>
    new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
  );

const seo = {
  title: `${tagData.title} | Hnutí kruh`,
};
---

<Layout seo={seo}>
  <Container narrow>
    <section class="tag-page__section"> 
      <h1>Posty s tagem "{tagData.title}"</h1>
      {posts.length === 0 ? (
        <p>Žádné aktuality s tímto tagem nebyly nalezeny.</p>
      ) : (
        <ul>
          {posts.map(post => (
            <li><a href={post.url}>{post.frontmatter.title}</a></li>
          ))}
        </ul>
      )}
    </section>
  </Container>
</Layout>

<style>
.tag-page__section {
  min-height: 60vh;
  margin: var(--section-margin);
}
</style>
